:root {
  --white: #ffffff;
  --black: #1d1d1f;
  --red: #e30000;

  --gray: #86868b;
  --light-gray: #d6d6d6;
  --ultra-light-gray: #e9e8e8;

  --blue: #007aff;
  --light-blue: rgb(0 125 250 / 60%);
  --ultra-light-blue: rgb(0 122 255 / 15%);
  --hover-blue: #0077ed;
  --hover-light-blue: rgb(0 122 255 / 20%);
}
