$padding: 1.4rem;
$font-size: 1.6rem;

.root {
  display: inline-block;
  align-items: center;

  &.withLabel {
    margin-top: 4rem;
  }
}

.label {
  position: relative;
}

.input {
  height: 5rem;
  width: 100%;
  padding: 0 $padding;

  font-size: $font-size;
  color: var(--black);

  background-color: var(--white);
  border-radius: 1.2rem;

  &::placeholder {
    user-select: none;
  }

  .withLabel &:placeholder-shown:not(:focus)::placeholder {
    color: transparent;
  }

  :not(.withLabel) &.ghost:not(:focus-visible):hover::placeholder {
    color: var(--blue);
  }

  &.bold {
    font-weight: 700;
  }

  &.default {
    border: 0.1rem var(--gray) solid;
  }

  &.ghost {
    border: 0.1rem transparent solid;

    &:not(:focus-visible):hover {
      background-color: var(--hover-ghost-blue);
      transition: background-color 0.2s;

      .root:not(.withLabel) &::placeholder {
        color: var(--blue);
      }
    }
  }

  &:focus-visible {
    border-color: transparent;
    outline: 0.4rem var(--light-blue) solid;
  }
}

.text {
  z-index: 10;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: $padding;

  font-size: $font-size;
  color: var(--gray);
  transition: all 0.3s;
  pointer-events: none;

  .input:focus-visible + &,
  .input:not(:placeholder-shown) + & {
    transform: translateY(-5.8rem);
    left: 0;

    font-size: 2rem;
    color: var(--black);
  }

  .input:hover:not(:focus-visible) + &.ghost {
    color: var(--blue);
  }
}
