@import '@app/styles/utils';

.root {
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  line-height: 2.2rem;

  border-radius: 1.2rem;

  cursor: pointer;

  &:has(:disabled) {
    opacity: 0.4;
    pointer-events: none;
  }

  &:has(:focus-visible) {
    outline: 0.4rem var(--light-blue) solid;
  }

  &:has(:active) {
    transform: scale(0.98);
    transition: transform 0.2s;
  }
}

.input {
  @include visuallyHidden();
}

.accent {
  color: var(--white);

  background-color: var(--blue);

  &:hover,
  &:has(:focus-visible) {
    background-color: var(--hover-blue);
    transition: background-color 0.2s;
  }

  &:has(:checked) {
    color: var(--blue);

    background-color: var(--ultra-light-blue);
  }
}

.regular {
  color: var(--blue);

  background-color: var(--ultra-light-blue);

  &:hover,
  &:has(:focus-visible) {
    background-color: var(--hover-light-blue);
    transition: background-color 0.2s;
  }

  &:has(:checked) {
    color: var(--white);

    background-color: var(--blue);
  }
}

.ghost {
  color: var(--blue);

  background-color: transparent;
  border: 0.1rem solid var(--blue);

  &:hover,
  &:has(:focus-visible) {
    color: var(--white);

    background-color: var(--blue);
    transition: all 0.2s;
  }

  &:has(:checked) {
    color: var(--white);

    background-color: var(--blue);
  }
}
