.root {
  display: inline-block;

  border-radius: 1rem;

  &:hover {
    background-color: var(--ultra-light-blue);
    transition: background-color 0.2s;
  }
}

.active {
  background-color: var(--ultra-light-blue);
}
