$padding-content: 1.4rem;
$arrow-column-width: 3rem;

.root {
  display: block;

  &[open] {
    padding-bottom: $padding-content;
    transition: padding-bottom 0.3s;
  }
}

@mixin arrow-stick() {
  $arrow-height: 0.2rem;
  $arrow-width: 1.1rem;

  position: absolute;
  top: 50%;
  left: 0;

  content: '';
  height: $arrow-height;
  width: $arrow-width;
  display: inline-block;

  background-color: var(--black);
  border-radius: 0.2rem;
  transition: transform 0.3s;
}

.summary {
  $border-radius: 0.2rem;
  $transform-to-center: 0.3rem;

  position: relative;

  margin-bottom: 0;
  padding-left: $arrow-column-width;
  display: flex;
  align-items: center;

  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  cursor: pointer;

  &::before {
    @include arrow-stick();
    transform-origin: right;
    transform: translateY($transform-to-center) rotate(45deg);
  }

  &::after {
    @include arrow-stick();
    transform-origin: left;
    transform: translateY($transform-to-center) rotate(-45deg);
    left: 1rem;
  }

  &:focus-visible {
    outline: 0.4rem var(--light-blue) solid;
  }

  .root[open] & {
    margin-bottom: $padding-content;
    transition: margin-bottom 0.3s;

    &::before {
      transform: translateY(-$transform-to-center) rotate(-45deg);
    }

    &::after {
      transform: translateY(-$transform-to-center) rotate(45deg);
    }
  }
}

.content {
  padding-left: $arrow-column-width;
}
