.root {
  color: inherit;
}

.small {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.medium {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.large {
  font-size: 2rem;
  line-height: 2.2rem;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}
