.form {
  padding: 2rem;
}

.leftSide {
  display: flex;
  align-items: center;
}

.rightSide {
  margin-left: 2.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  flex-shrink: 0;
  gap: 1rem;
  align-items: center;
}

.fields {
  display: flex;
}
